<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    <div class="main-dashboard">
        <div class="main-side"></div>
        <div class="dashboard-box">
            <div class="row p-0 hv-100">
                {% include 'side-col.html' %}

                <div class="col-sm-10 p-0">
                    <div class="main-contents hv-100">
                        {% include 'top-nav.html'%}
                        <div class="bread-crumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Capture User</li>
                                </ol>
                              </nav>
                        </div>
                        <div class="contents">
                            <div class="row  w-100">
                                 <div class="content-registers">
                                <div class="col-sm-7">
                                    <div class="face-capture">
                                        <div class="capture-box">

                                        </div>
                                        <div class="capture-items d-flex">
                                            <a class="btn btn-captured" type="button" href="{% url 'camera'%}"><i class="fas fa-camera"></i></a>

                                        </div>
                                    </div>
                                </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c095662986.js"></script>
</body>
</html>