{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    <div class="main-dashboard">
        <div class="dashboard-box">
            <div class="row p-0 hv-100">
                {% include 'side-col.html'%}

                <div class="col-sm-10 p-0 hv-100">
                    <div class="main-contents hv-100">
                        {% include 'top-nav.html' %}
                        <div class="contents">
                            <div class="row  w-100">
                                <div class="col-sm-6">
                                    <div class="dash-count d-flex">
                                        <h4 class="green">Total students</h4>
                                        <div class="count-std">
                                            <p class="yellow">{{total_std}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="dash-count d-flex">
                                        <h4>Absent students</h4>
                                        <div class="count-std">
                                            <p>120</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="dash-item">
                                        <a href="{% url 'register_view' %}">
                                            <div class="dash-inner d-flex">
                                                <i class="fas fa-user-plus"></i>
                                                <p>register user</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="dash-item">
                                        <a href="{% url 'manage_view' %}">
                                            <div class="dash-inner d-flex">
                                                <i class="fas fa-file-contract"></i>
                                                <p>manage user</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="dash-item">
                                        <a href="{% url 'attendence_view' %}">
                                            <div class="dash-inner d-flex">
                                                <i class="fas fa-clipboard-list" aria-hidden="true"></i>
                                                <p>Attendence Sheet</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c095662986.js"></script>
</body>
</html>