<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">
</head>
<body>
  <div class="main-content">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-12">
                    <div class="face-recog d-flex">

                        <a class="btn btn-danger" href="{% url 'recog_camera' %}">Take Attendence</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="face-absentlist">
                        <h5>Absent list</h5>
                        <div class="Container">
                            <!-- Carousel Container -->
                            <div class="SlickCarousel">
                              <!-- Item -->
                              <div class="ProductBlock">
                                <div class="contents-abs">
                                  <div class="img-fill">
                                    <span>11801</span>
                                  </div>
                                  <h3>Aashir Shakya</h3>
                                </div>
                              </div>
                              <!-- Item -->
                                 <!-- Item -->
                              <div class="ProductBlock">
                                <div class="contents-abs">
                                  <div class="img-fill">
                                    <span>11849</span>
                                  </div>
                                  <h3>Urmila Shahi Thakuri</h3>
                                </div>
                              </div>
                              <!-- Item -->
                                 <!-- Item -->
                              <div class="ProductBlock">
                                <div class="contents-abs">
                                  <div class="img-fill">
                                    <span>11850</span>
                                  </div>
                                  <h3>Sichu Dangol</h3>
                                </div>
                              </div>
                              <!-- Item -->
                                 <!-- Item -->
                              <div class="ProductBlock">
                                <div class="contents-abs">
                                  <div class="img-fill">
                                    <span>11822</span>
                                  </div>
                                  <h3>Raisha  shaula</h3>
                                </div>
                              </div>
                              <!-- Item -->
                                 <!-- Item -->
                              <div class="ProductBlock">
                                <div class="contents-abs">
                                  <div class="img-fill">
                                    <span>11890</span>
                                  </div>
                                  <h3>Jwala Bista</h3>
                                </div>
                              </div>
                              <!-- Item -->
                            </div>
                            <!-- Carousel Container -->
                          </div>
                    </div>
                </div>
            </div>
           
            <div class="col-md-3">
                <div class="face-recog-details">
                      <div aria-live="polite" aria-atomic="true">
                           <div class="toast" style="position:absolute; top:0; right:0; opacity:1;">
                               <div class="toast-header">
                                  <strong class="mr-auto">Student Attendence</strong>

                                       <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                              </button>
                               </div>
                               <div class="toast-body">
                                   Attendence Sucessfull <i class="fas fa-check-circle ml-3"></i>
                               </div>
                           </div>
                        </div>

                    <div class="greet mb-4">
                        good Morning
                    </div>
                    <div class="small-head">
                        <h5>Attendence Info</h5>
                    </div>
                    <div class="attence-info mb-3">
                       Total Students <p class="yellow">100</p>
                    </div>
                    <div class="attence-info mb-3">
                        Present Students <p class="green">10</p>
                     </div>
                     <div class="attence-info mb-3">
                        Absent Students <p class="red">10</p>
                     </div>
                     <div class="small-head">
                        <h5>Today</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="attence-data mb-3">
                                Month<p>{{month}}</p>
                             </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="attence-data mb-3">
                                Day <p>{{day}}</p>
                             </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="attence-data mb-3">
                                Date<p>{{date}}</p>
                             </div>
                             <p class="text-right green"><em>Powered By : <span class="yellow">DREAM TEAM</span></em> </p>
                        </div>
                        
                    </div>
                     
                    
                </div>
            </div>
            
        </div>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
    <script>
        $(document).ready(function(){
  $(".SlickCarousel").slick({
    rtl:false, // If RTL Make it true & .slick-slide{float:right;}
    autoplay:true, 
    autoplaySpeed:1000, //  Slide Delay
    speed:1200, // Transition Speed
    slidesToShow:6, // Number Of Carousel
    slidesToScroll:1, // Slide To Move 
    pauseOnHover:false,

    easing:"linear",
    responsive:[
      {breakpoint:801,settings:{
        slidesToShow:3,
      }},
      {breakpoint:641,settings:{
        slidesToShow:3,
      }},
      {breakpoint:481,settings:{
        slidesToShow:1,
      }},
    ],
  })
})
    </script>
</body>
</html>