<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    <div class="main-wrapper">
        <div class="grp-name">
            <img src="{% static 'img/grp-name.png'%}" class="img-fluid" alt="group name">
        </div>

        <div class="title">
            <h1>face recognition attendence system</h1>
        </div>

        <div class="admin-login-box">

            <h2>Admin login</h2>
            <form method="post" action="{% url 'dashboard' %}">{% csrf_token %}
                <div class="form-group">
                    <div class="form-label">

                        <input type="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username" required name="username">
                        <i class="fas fa-user-shield"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label">

                        <input type="password" class="form-control" id="pass" placeholder="Password" required name="password">
                        <i class="fas fa-key"></i>
                    </div>
                </div>
                {% if hasError == True %}
                  <div class="style=background:red;"><p>Username or password does not match.</p></div>
                {% endif%}
                <div class="form-submit">
                    <button type="submit" class="btn btn-primary">Sign In <i class="fas fa-sign-in-alt ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c095662986.js"></script>
</body>
</html>