<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    <div class="main-dashboard">
        <div class="main-side"></div>
        <div class="dashboard-box">
            <div class="row p-0 hv-100">
                {% include 'side-col.html' %}
                
                <div class="col-sm-10 p-0">
                    <div class="main-contents hv-100">
                        {% include 'top-nav.html'%}
                        <div class="bread-crumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Register User</li>
                                </ol>
                              </nav>
                        </div>
                        <div class="contents">
                            <div class="row  w-100">
                               <div class="content-registers">
                                    <div class="col-sm-5">
                                    <div class="register-form">
                                        {% if action == 'edit' %}
                                        <form method="post" action="{% url 'edit' students.Id %}"> {% csrf_token %}
                                        <h3>Edit Students</h3>
                                            <div class="form-group">
                                                <input type="text" placeholder="Student FullName" class="form-control" name="std_fullname" value="{{students.Name}}">
                                            </div>

                                            <div class="form-group">
                                                <select class="form-control" name="std_faculty">
                                                    {% if students.Faculty == 'BIT '%}
                                                         <option selected class="mdl-menu_item">BIT</option>
                                                         <option> BHM</option>
                                                         <option> BBA</option>
                                                    {% elif students.Faculty == 'BBA' %}
                                                         <option selected>BBA</option>
                                                         <option> BHM</option>
                                                         <option> BIT</option>
                                                    {% else %}
                                                        <option selected>BHM</option>
                                                         <option> BIT</option>
                                                         <option> BBA</option>
                                                    {% endif %}


                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" name="std_sem">
                                                    <option selected>{{students.Semester}}</option>
                                                    <option> 2nd Sem</option>
                                                    <option> 3rd Sem</option>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Phone Number" class="form-control" name="std_number" value="{{students.Phone_Number}}">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Address" class="form-control" name="address" value="{{students.Address}}">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" placeholder="Email Address" class="form-control" name="std_email" value="{{students.Email_Address}}">
                                            </div>
                                            <div class="form-subs d-flex">
                                                <button class="btn btn-success" type="submit"><i class="far fa-sav mr-2"></i> Save info</button>
                                                <button class="btn btn-danger ml-2" type="reset"><i class="fas fa-redo mr-2"></i>Reset</button>
                                            </div>
                                        </form>
                                        {% else %}
                                             <h3>Add Students</h3>
                                            <form method="post" action="{% url 'save' %}"> {% csrf_token %}

                                            <div class="form-group">
                                                <input type="text" placeholder="Student FullName" class="form-control" id="std_fullname" name="std_fullname">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Student Id" class="form-control" id="std_id" name="std_id">
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" id="std_faculty" name="std_faculty">
                                                    <option>Choose Faculty</option>
                                                    <option> BIT</option>
                                                    <option> BHM</option>
                                                    <option> BBA</option>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" id="std_sem" name="std_sem">
                                                    <option>Choose Semester</option>
                                                    <option> 1st Sem</option>
                                                    <option> 2nd Sem</option>
                                                    <option> 3rd Sem</option>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Phone Number" class="form-control" id="std_number" name="std_number">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Address" class="form-control" id="address" name="address">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" placeholder="Email Address" class="form-control" id="std_email" name="std_email">
                                            </div>
                                            <div class="form-subs d-flex">
                                                <button class="btn btn-success" type="submit" id="btnSuccess"><i class="far fa-sav mr-2"></i> Save info</button>
                                                <button class="btn btn-danger ml-2" type="reset"><i class="fas fa-redo mr-2"></i>Reset</button>
                                            </div>
                                        </form>
                                        {% endif %}

                                    </div>
                                </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c095662986.js"></script>
</body>
</html>