{% load static %}
<div class="col-sm-2 p-0">
    <div class="sidebar hv-100 d-flex">
        <div class="side-img">
            <img src="{% static 'img/ico.png' %}"  class="img-fluid" alt="">
        </div>
       <div class="grp-name">
                            <img src="{% static 'img/grp-name.png' %}" class="img-fluid" alt="group name">
                        </div>
        <p>attendance system</p>
    </div>
</div>