<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <script type="text/javascript" src="/eel/eel.js"></script>


</head>
<body>
    <div class="main-dashboard">
        <div class="main-side"></div>
        <div class="dashboard-box">
            <div class="row p-0 hv-100">
                {% include 'side-col.html' %}
                
                <div class="col-sm-10 p-0">
                    <div class="main-contents hv-100">
                        {% include 'top-nav.html' %}
                        <div class="bread-crumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Student Details</li>
                                </ol>
                              </nav>
                        </div>
                        <div class="search-div d-flex">
                            <div class="frm-grp w-100">
<!--                                <input type="text" onkeyup="search(event)" class="form-control form-search" placeholder="Search students">-->
<!--                                <i class="fas fa-search"></i>-->
                                <form method="get" class="d-flex">
                                    <div class="form-control">
                                           {{student_filter.form}}

                                        <button class="btn btn-primary form-control">Search</button>
                                    </div>





                                </form>
                            </div>
                        </div>
                        <div class="contents mt-5">
                        <div class="student-tables perfect-scrollbar">
                            <table class="table">
                                <thead class="thead-dark perfect-sidebar">
                                  <tr>
                                      <th scope="col">Student_Id</th>
                                    <th scope="col">Student Name</th>
                                    <th scope="col">Faculty</th>
                                    <th scope="col">Semester</th>
                                    <th scope="col">Number</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for students in student %}
                                  <tr>
                                    <td>{{students.Id}}</td>
                                    <td>{{students.Name}}</td>
                                    <td>{{students.Faculty}}</td>
                                    <td>{{students.Semester}}</td>
                                    <td>{{students.Phone_Number}}</td>
                                    <td>{{students.Address}}</td>
                                    <td>{{students.Email_Address}}</td>
                                    <td>
                                      <a href="{% url 'edit' students.Id %}"  class="btn btn-none" name="edit">
                                        <i class="far fa-edit yellow"></i>
                                      </a>
                                        <a href="#"  onclick="onDelete({{students.Id}})" class="btn btn-none" type="button" name="edit">
                                         <i class="fas fa-trash-alt ml-2 red"></i>
                                      </a>

                                    </td>
                                  </tr>
                                 {% empty %}
                                <tr>
                                  <td colspan="9" class="text-center">No student</td>
                                </tr>
                                  {% endfor %}
                                </tbody>
                              </table>

                        </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c095662986.js"></script>

     <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel"><i class="fas fa-user-edit mr-3"></i>Edit Student Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <div class="edit-form">
            <form action="" method="post">{% csrf_token %}

              <div class="form-group">
                  <input type="text" placeholder="Student FullName" class="form-control" id="std_fullname" value="{{students.Name}}">
              </div>
              <div class="form-group">
                  <input type="text" placeholder="Student Id" class="form-control" id="std_id">
              </div>
              <div class="form-group">
                  <select class="form-control" id="std_faculty">
                      <option>Choose Faculty</option>
                      <option> BIT</option>
                      <option> BHM</option>
                      <option> BBA</option>

                  </select>
              </div>
              <div class="form-group">
                  <select class="form-control" id="std_sem">
                      <option>Choose Semester</option>
                      <option> 1st Sem</option>
                      <option> 2nd Sem</option>
                      <option> 3rd Sem</option>

                  </select>
              </div>
              <div class="form-group">
                  <input type="text" placeholder="Phone Number" class="form-control" id="std_number">
              </div>
              <div class="form-group">
                  <input type="text" placeholder="Address" class="form-control" id="address">
              </div>
              <div class="form-group">
                  <input type="email" placeholder="Email Address" class="form-control" id="std_email">
              </div>
          </form>
           </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit"><i class="far fa-sav mr-2"></i> Save Changes</button>
            <button class="btn btn-danger ml-2" type="reset"><i class="fas fa-redo mr-2"></i>Reset</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

<script>
    function onDelete(id){
        result = confirm(`Are you sure you want to delete ${id}`);
        if(result){
            window.location.href = 'delete/'+id;
        }
    }
</script>
</body>
</html>