<div class="top-nav">
    <div class="page-name">
        <h3>DASHBOARD</h3>
    </div>
    <div class="login-user d-flex">
        <p>Urmila Shahi Thakuri</p>
        <div class="dropdown show">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="user-icon">
                    <i class="fas fa-users"></i>
                </div>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'admin' %}"><i class="fas fa-sign-out-alt"></i>logout</a>
            </div>
        </div>

    </div>
</div>