/* login-page */
.row{
    margin:0;
}
body{
    font-family: 'Quicksand', ;
    color:#fff;
}
.contents{
    padding:0 50px;
}
.main-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;;
    background-image: url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
}

.admin-login-box{
    box-shadow: 0px 3px 6px #4092D129;
    border-radius: 36px;
    width: 660px;
    padding: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title h1{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color:#fff;
    margin-bottom:40px;
    text-transform: uppercase;
}
.grp-name{
    text-align: center;
    margin-bottom:5px;
}
.admin-login-box h2{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color:#fff;
    margin:0;
    text-transform: uppercase;
}
.admin-login-box form{
    color: #888888;
}
.admin-login-box .form-group{
    margin-top:50px;
    margin-bottom: 0;
}
.admin-login-box .form-group .form-control{
    height: 70px;
    padding-left: 50px;
    border-radius: 8px;
    background-color: #C4C4C4;
    width: 450px;
    border:none;
    
}
.form-control:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(51, 23, 74, 0.5);
}
.form-group .form-label{
    position: relative;
}

.form-label .fas{
    position: absolute;
    left: 20px;
    top: 27px;
    color: #495057;
}
.form-submit{
    display: flex;
    justify-content: center;
}
.form-submit .btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: #91C73E;
    margin-top: 50px;
    border:none;
    text-transform: uppercase;
    height: 70px;
    box-shadow: 0px 3px 6px #4092D129;
    border-radius: 35px;
    width:55%;
}

/* dashboard css */
.hv-100{
    height: 100vh !important;
}
.main-dashboard{
    height: 100vh;
    background-image: url('../img/dashboard.png');
    background-size: cover;
    background-position: center;
}


.sidebar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #2a0140;
    box-shadow: 2px 2px 6px rgba(64, 26, 86, 0.71);
    background: rgba(0, 0, 0, 0.09);

}
.sidebar h1{
    margin-top: 50px;
    margin-bottom: 20px;
    color:#000000;
    
    text-transform: uppercase;
    font-size: 28px;
    
}
.sidebar p{
    color:#FFC107;
    font: Bold 18px Open Sans;
    text-transform: uppercase;
}
.main-content{
    background-color: #ECEFF4;
    /* width:75%; */
}
.side-img img{
    height: 150px;
}
.top-nav{
    height: 70px;
    margin-bottom:30px;
    box-shadow: 2px 3px 6px #00000029;
    display: flex;
    align-items: center;
    padding:0 50px;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.09);
    box-shadow: 2px 2px 6px rgba(64, 26, 86, 0.71);
}
.top-nav .page-name h4{
    color:#FFC107;
    margin:0;
}
.login-user{
    align-items: center;
    padding-left: 20px;
    position: relative;
}
.login-user:before{
    content: '';
    position: absolute;
    left: 0;
    height: 30px;
    width:2px;
    background-color: #ffffff;
}
.login-user p{
    margin-bottom: 0;
    font-weight: 600;
    padding-right: 20px;
    color: #ffffff;
}
.user-icon{
    height: 50px;
    width:50px;
    border-radius: 100%;
    border:3px solid #e4ffab;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-icon i{
    color:#fff
}
.login-user .btn{
    padding: 0;
}
.login-user .btn.focus, .btn:focus{
    outline: none;
    box-shadow: none;
}
.login-user .dropdown-toggle::after {
    display: none;
}
.login-user .dropdown-menu{
    left:-60px !important;
    border: none;
    box-shadow: 2px 3px 18px #00000029;
    background-color: #eceff4;
    border-radius: 0;
    top: 8px !important;
    height: 50px;
    
}
.login-user .dropdown-item{
    font-size: 18px;
    text-transform: capitalize;
}
.login-user .dropdown-item .fas{
    color:#dc3545;
    padding-right: 10px;
}
.login-user  .dropdown-item:focus, .dropdown-item:hover {
    color: #dc3545;
    background: none !important;
}
.content{
    padding:30px 50px;
}
.dash-item{
    box-shadow: 2px 3px 6px #00000029;
    border-radius: 22px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.09);
}
a:hover{
    text-decoration: none;
}
.dash-inner{
    padding: 20px;
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dash-inner .fas{
    font-size: 70px;
    color: #ffffff;
}
.dash-inner p{
    text-transform: capitalize;
    margin: 0;
    margin-top: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.dash-item:hover .dash-inner p{
    color: #dc3545;
} 

.dash-count{
    height: 100px;
    box-shadow: 2px 3px 6px #00000029;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba(255, 255, 255, 0.09);
}
.dash-count::before{
    position: absolute;
    content: '';
    height: 5px;
    background-color:#03669a;
    width:100%;
    z-index: 999999;
    left:0;
    top:0
}
p{
    margin-bottom: 0;
}
.dash-count h4{
    margin-bottom: 0;
  
}
.count-std{
    height: 50px;
    width: 50px;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 100%;
    border:2px solid #03669a;
    
}
.count-std p{
    color:#fff;
    font-weight: 600;
    line-height: 50px;
}

/* resgistration */
.bread-crumb{
    padding:0px 50px 0;
}
.bread-crumb .breadcrumb{
    
    background-color: rgba(255, 255, 255, 0.09);
    box-shadow: 2px 3px 6px #00000029;
    border-radius: 8px;
    color:#fff;
}
.breadcrumb-item.active{
    color:#fff;
}
.capture-box{
    border:2px solid#b742f7;
    border-radius: 22px;
    height: 300px;
    box-shadow: 2px 3px 6px #00000029;
    background-color: rgba(0, 0, 0, 0.15);
}
.form-subs .btn{
    width: 100%;
}
.capture-items{
    justify-content: center;
    margin-top:10px;
}
.breadcrumb-item  a{
    color: #ffc105;
}
.capture-items i{
    font-size: 28px;
    color: #ffffff;
    box-shadow: 0px 0px 6px rgba(183, 65, 247, 0.63);
}
.capture-items i:hover{
    font-size: 28px;
    color:#ef0b0b;
}
.search-div{
    padding:10px 50px 0;
    justify-content: space-between;
}
.frm-grp{
    position: relative;
    
}
.frm-grp .fas{
    position: absolute;
    left: 10px;
    top:10px;
    color:#707070;
}
.form-search{
    border-radius: 28px;
    padding-left: 30px;
}
.perfect-scrollbar{
    overflow: auto;
    max-height: 300px;
}
.perfect-sidebar{
    max-width: 500px;
    overflow: auto;
}
.fa-edit{
    color:#007bff;
}
.fa-danger{
    color:#dc3545;
}
.register-form .form-control{
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
      height: 50px;

    
}
.register-form .form-control option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color:#000;
  }
.register-form .form-control::placeholder{

    color: #fff;
    
}
.register-form .form-control:focus{
    border-color: #b741f7;
        background-color: transparent;
}

.table .thead-dark th {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
    border-color: #2b0142;
}
.table td, .table th {
   color:#fff;
}

/* index.html */
.main-content{
    background: url('../img/bg.png');
    background-position: center;
    background-size: cover;
    height: 100vh;

}
.content-wrapper{
    padding:10px;

}
.face-recog{
    height: 450px;
    border: 1px solid #6c00d8;
    background-color: rgba(0, 0, 0, 0.30);
    box-shadow: 2px 5px 10px rgba(113, 0, 255, 0.37);
    justify-content:center;
    align-items:center;
    position:relative;
}
.recog-sucess{
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    top: 15px;
    right: 0;
    padding: 20px 50px 20px 30px;
}
.face-recog .btn-danger{
height:70px;
font-size:28px;
font-weight:600;
width:60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Slick Slider Css Ruls */

.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
  }
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
  }
  
  .slick-list:focus {
    outline: none
  }
  
  .slick-list.dragging {
    cursor: hand
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
  
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
  }
  
  .slick-track:before,
  .slick-track:after {
    display: table;
    content: ''
  }
  
  .slick-track:after {
    clear: both
  }
  
  .slick-loading .slick-track {
    visibility: hidden
  }
  
  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
  }
  
  .slick-slide.dragging img {
    pointer-events: none
  }
  
  .slick-initialized .slick-slide {
    display: block
  }
  
  .slick-loading .slick-slide {
    visibility: hidden
  }
  
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
  }
  
  .img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
  }
  
  .img-fill img {
    height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none
  }
  /* Slider Theme Style */
  
  .Container {
    padding: 0 15px;
  }
  
  .Container:after,
  .Container .Head:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .Container .Head {
    font: 20px/50px NeoSansR;
    color: #222;
    height: 52px;
    overflow: hidden;
    border-bottom:1px solid rgba(0,0,0,.25);
  }

  .SlickCarousel {
    margin: 0 -7.5px;
    margin-top: 10px;
  }
  
  .ProductBlock {
    padding: 0 7.5px;
  }
  
  .ProductBlock .img-fill {
    height: 100px;
    width:100px;
    border-radius: 100%;
    border:1px solid #fff;
  }
  
  .ProductBlock h3 {
    font: 15px/36px RalewayR;
    color: #ffffff;
    margin-top: 5px;
    text-align: center;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  }
  .slick-arrow{
      display: none !important;
  }
  .face-absentlist{
      margin-top: 30px;
      border: 1px solid #6c00d8;
      background-color: rgba(0, 0, 0, 0.30);
      box-shadow: 2px 5px 10px rgba(113, 0, 255, 0.37);
    padding:20px 30px;
  }
  .face-absentlist h5{
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 20px;
  }


  .face-recog-details{
    border: 1px solid #6c00d8;
    background-color: rgba(0, 0, 0, 0.30);
    box-shadow: 2px 5px 10px rgba(113, 0, 255, 0.37);
  padding:30px 30px;
  position:relative;
  }
  .attence-info{
    background-color: rgba(255, 255, 255, 0.13);
    color:#fff;
    font-size: 18px;
    padding:10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
  }
  .attence-info p{
      font-weight: 600;
      font-size: 25px;
      text-align: center;
      
  }
  .small-head h5{
      text-transform: uppercase;
      color:#fff;
      margin-bottom: 20px;
      font-size: 16px;
  }
  .attence-data {
    background-color: rgba(255, 255, 255, 0.13);
    color:#fff;
    font-size: 18px;
    padding:10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
  }
  .attence-data p{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color:#FFC107;
    text-transform: capitalize;  
}
.green{
    color: #90BE2E;
}
.yellow{
    color: #FFC107;
}
.red{
    color: #EB2727;
}
.greet{
    background-color: rgba(255, 255, 255, 0.13);
    color: #90BE2E;
    font-size: 25px;
    padding:10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
}
p{
    color:#fff;
}
.face-recog-frame{
    justify
}
.content-registers{
display:flex;
justify-content:center;
width:100%
}
.register-form{
padding-top:20px;
}
..register-form h3{
margin-bottom:10px;
}
.contents-abs{
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}
.ProductBlock .img-fill{
display:flex;
justify-content:center;
align-items:center;
}